@tailwind base;
@tailwind components;
@tailwind utilities;

.list-icon-size {
    --ggs: 1.5;
}

body {
    background: #1e293b;
    color: #d1d5db;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
